body {
    background-color: rgb(154, 154, 154);

    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;

    scroll-behavior: smooth;

    margin: 0px;


}

img {
    margin: 20px;
}


.epp {
    margin-top: -20px;
}

/* just the blep's.css just added an extra folder for any special changes */