
.no-border {
    border: none;
}

/* cursors (type) */
.cursor-default {
    cursor: default;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-crosshair {
    cursor: crosshair;
}














.sussy-guy {
    margin-top: 190px;

    padding: 1px;

    width: 11px;
    height: 16px;
}