body {
    background-color: rgb(154, 154, 154);

    text-align: center;
    align-items: center;
    align-content: center;
    
    scroll-behavior: smooth;

    margin: 0px;
}
a {
    color: black;
    text-decoration: none;
}


html {
    animation-name: faded;
    animation-duration: 200ms;
}
@keyframes faded {
    70% {opacity: 70%;}
}